#palette {
  float: left;
  border: solid black 1px;
}
#graph {
}
#toolbar {
  border-bottom: solid #ccc 1px;
  padding: 0.13em 0.15em;
  background-color: #eed;
}
#toolbar button {
  margin-right: 0.1em;
}
#toolbar .status {
  float: right;
  padding: 0.15em 0.6em;
}
.attributes {
  padding: 1em;

}
.attributes li {
  list-style-type: none;

}
.objectform {
  padding: 0.5em;
  background-color: #eee;
}
.objectform input.name {
  width: 20em;
}
.attributes li button {
  margin-top: 0.5em;
}
