.listdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
.md-tile-left img {
  margin-left: 0.8em;
  margin-right: 0.2em;
  margin-bottom: 0.3em;
}
.delete-model-button {
  width: 1em;
  height: auto;
}
.modelnameedit {
  color: black;
}
.md-button.sidenav {
  left: -6px;
  margin-bottom: 0.2em;
  margin-right: 0.2em;
}
.md-toolbar-tools {
  height: 40px;
  min-height: 0;
}
.toolbar-smaller {
  min-height: 44px;
}
#login div {
  margin: 1em;
  font-size: 20pt;
  text-color: black;
}
#login img {
  width: 50px;
  height: auto;
}
#manual h1 {
  margin: 0em;
}
#manual h2 {
  margin: 0em;
}
#manual h1 {
  margin: 0em;
}


#palette {
  float: left;
  border: solid black 1px;
}
#graph {
}
#toolbar {
  border-bottom: solid #ccc 1px;
  padding: 0.13em 0.6em;
  background-color: #eed;
  width: 100%;
  text-align: center;
}
#toolbar button {
  margin-left: 0.5em;
  padding: auto 0;
}
#toolbar .status {
  float: right;
  padding: 0;
}
#toolbar .authname {
  float: left;
}
#toolbar .modelname {
}
.attributes {
  padding: 1em;
}
.attributes li {
  list-style-type: none;
}
.deleteicon {
  width: 14px;
  height: auto;
}
.listpage {
  padding: 0.5em;
}
.modellist {
  padding: 0;
  list-style-type: none;
}
.modellist li {
  margin: 0;
  padding: 0;
}
.objectform {
  padding: 0.5em;
  background-color: #eee;
}
.objectform input.name {
  width: 20em;
}
.attributes li button {
  margin-top: 0.5em;
}
input.invalid {
  background-color: #ffdddd;
}
.gloginlogo {
  width: 25%;
  height: auto;
}
