#paper {
  overflow-x: scroll;
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}
.template-dialog md-whiteframe {
  background: #00f;
  padding: 20px;
}
.listdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
.fomod-template md-content {
  padding-top: 0.5em;
}
.md-tile-left img {
  margin-left: 0.8em;
  margin-right: 0.2em;
  margin-bottom: 0.3em;
}
.fomod-template .md-tile-content {
  padding: 0;
}
.fomod-template md-checkbox {
  margin: 0.6em 0.6em 0.6em 0.8em;
}
.delete-model-button {
  width: 1em;
  height: auto;
}
.toolbaredit {
  color: black;
}
.md-button.sidenav {
  left: -6px;
  top: -2px;
  margin-top: 0em;
}
.md-toolbar-tools {
  height: 40px;
  min-height: 0;
}
.md-toolbar-tools .title {
  margin-bottom: 5em;
}
.toolbar-smaller {
  min-height: 44px;
}
#login div {
  margin: 1em;
  font-size: 20pt;
  text-color: black;
}
#login img {
  width: 50px;
  height: auto;
}
#palette {
  float: left;
  border: solid black 1px;
}
#graph {} #toolbar {
  border-bottom: solid #ccc 1px;
  padding: 0.13em 0.6em;
  background-color: #eed;
  width: 100%;
  text-align: center;
}
#toolbar button {
  margin-left: 0.5em;
  padding: auto 0;
}
#toolbar .status {
  float: right;
  padding: 0;
}
#toolbar .authname {
  float: left;
}
#toolbar .modelname {} .attributes {
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.attributes li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.attributes input {} .attributes input.name {
  flex-grow: 10;
}
.deleteicon {
  width: 14px;
  height: auto;
}
.listpage {
  padding: 0.5em;
}
.modellist {
  padding: 0;
  list-style-type: none;
}
.modellist li {
  margin: 0;
  padding: 0;
}
.objectform {
  padding: 0.5em;
  background-color: #eee;
}
.objectform input.name {
  width: 20em;
}
.attributes li button {
  margin-top: 0.5em;
}
input.invalid {
  background-color: #ffdddd;
}
.gloginlogo {
  width: 25%;
  height: auto;
}
