<!-- <div class="objectform">
  <div>
    <ul class="attributes" sortable ng-model="attributes">
      <li ng-repeat="attribute in attributes">
        {{attribute.get('name')}}
        <input class="name" ng-model-options="{getterSetter: true, debounce: 1000}" ng-model="attrValue(attribute)">
      </li>
    </ul>
  </div>
</div> -->
<div class="objectform">
  <table>
    <tr class="attributes" ng-model="attributes" ng-repeat="attribute in attributes">
      <td>{{attribute.get('name')}}</td>
      <td><input class="name" ng-model-options="{getterSetter: true, debounce: 1000}" ng-model="attrValue(attribute)"></td>
    </tr>
  </table>
</div>
